[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"

[packages]
scikit-learn = ">=1.0.0"
numpy = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
user-agent = "*"
requests = "*"
google-cloud-storage = "*"
google-generativeai = "*"
google-cloud-aiplatform = "*"
langchain = "*"
langchain-chroma = "*"
langchain-openai = "*"
llama-index = "*"
chromadb = "==0.5.7"
vertexai = "*"
langchain-community = "*"



[requires]
python_version = "3.12"
